### Node ###
# Logs
logs
*.log
npm-debug.log*
package-lock.json
node_modules/
.sass-cache/

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### Linux ###
*~

### Code ###
# Visual Studio Code - https://code.visualstudio.com/
.settings/
.vscode/

### Webstorm ##
.idea/


jquery-3.3.1.js 
globalVariables.js 
classess.js 
diceRoll.js 
toolsFunctions.js 
animation.js 
ball.js 
terrains.js 
guilds.js
rostrerEvents.js
playerTemplateFile.js 
mouseEvents.js 
pitchfield.js
pitchfield.scss

