### Node ###
# Logs
logs
*.log
npm-debug.log*
package-lock.json
node_modules/
.sass-cache/

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### Linux ###
*~

### Code ###
# Visual Studio Code - https://code.visualstudio.com/
.settings/
.vscode/

### Webstorm ##
.idea/


jquery-3.3.1.js 
01globalVariables.js 
02classess.js 
03diceRoll.js 
04toolsFunctions.js 
05animation.js 
06ball.js 
07terrains.js 
08guilds.js
09rostrerEvents.js
10playerTemplateFile.js 
11mouseEvents.js 
12pitchfield.js
13pitchfield.scss

