
$borderColor: black;

@import url('https://fonts.googleapis.com/css?family=Germania+One|IM+Fell+English');
body {
    background-color: rgb(2, 17, 2);
    cursor: none;
    background:url("../icons/backgrounds/table.jpeg");
    background-size: fill;
};

$uniq: rgba(97, 64, 4, 0.95);
$uniqBordr:rgba(167, 116, 21, 0.95);
$uniqText:#af6025;
$magicBlu:#8888ff;
$normalGray:#a38d6d;
$infoWhite:#E0E0E0;
$rareGold:#F5FF6C;

*{
    font-family:'IM Fell English';
    cursor: none;
    box-sizing:border-box;
}
.tesdsfhkjlkjhgfdster{
    color:rgb(218, 33, 0);
}
@mixin arrow($color,$direction,$size){
    @if $direction == top {
        width: 0; 
        height: 0; 
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-bottom: $size solid $color;

    }@else if $direction == left {

        width: 0; 
        height: 0; 
        border-top: $size solid transparent;
        border-bottom: $size solid transparent; 
        border-right:$size solid $color;

    }@else if $direction == bottom {

        width: 0; 
        height: 0; 
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-top: $size solid $color;

    } @else if $direction == right {

        width: 0; 
        height: 0; 
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-left: $size solid $color;
    }
}

$guilds:(
Alchemist: hsla(97, 43%, 39%, 0.8),
Blacksmith:hsla(203, 13%, 61%, 0.8),
Brewer:hsla(49, 63%, 51%, 0.8),
Butcher: hsla(359, 81%, 44%, 0.8),
Cook: hsla(1, 80%, 50%, 0.8),
Engineer: hsla(1, 74%, 29%, 0.8),
Falconer: hsla(115, 27%, 33%, 0.8),
Farmer: hsla(31, 82%, 55%, 0.8),
Fishermen: hsla(188, 52%, 47%, 0.8),
Hunter: hsla(113, 40%, 25%, 0.8),
Mason: hsla(216, 51%, 46%, 0.8),
Miner: hsla(1, 73%, 29%, 0.8),
Mortician: hsla(240, 2%, 17%, 0.8),
Navigator: hsla(190, 59%, 50%, 0.8),
Solthecian: hsla(60, 78%, 56%, 0.8),
Ratcatcher: hsla(210, 5%, 15%, 0.8),
Union:hsla(286, 54%, 30%, 0.8)
);
// .Butcher{background-color:   $Butcher           ;}
// .Cook{background-color:      $Cook      ;}
// .Engineer{background-color:  $Engineer             ;}
// .Falconer {background-color: $Falconer                 ;}
// .Farmer{background-color:    $Farmer            ;}
// .Fishermen{background-color: $Fishermen           ;}
// .Hunter{background-color:    $Hunter           ;}
// .Mason{background-color:     $Mason            ;}
// .Miner{background-color:     $Miner            ;}
// .Mortician{background-color: $Mortician         ;}
// .Navigator{background-color: $Navigator          ;}
// .Soltecian{background-color: $Soltecian            ;}
// .Ratcatcher{background-color:$Ratcatcher                ;}
// .Union{background-color:     $Union            ;}    
@mixin glowingBackground($name,$dir1,$dir2,$dir3,$dir4,$color1,$color2,$color3,  $timer, $repeat, $direction){
@keyframes GlossPulsating-#{$name} {
    0%{
        background: 
                    linear-gradient(to $dir1 $dir2,     $color1 0%,$color2 12%, $color3 71%),
                    linear-gradient(to $dir3 $dir4,     $color1 0%,$color2 48%, $color3 89%),
    }
    50%{
        background: 
                    linear-gradient(to $dir1 $dir2,     $color1 0%,$color2 12%, $color3 71%),
                    linear-gradient(to $dir3 $dir4,     $color1 0%,$color2 48%, $color3 89%),
    }
    53%{
        background: 
                    linear-gradient(to $dir1 $dir2,     $color1 0%,$color2 14%, $color3 72%),
                    linear-gradient(to $dir3 $dir4,     $color1 0%,$color2 46%, $color3 88%),
    }
    56%{
        background: 
                    linear-gradient(to $dir1 $dir2,     $color1 0%,$color2 16%, $color3 73%),
                    linear-gradient(to $dir3 $dir4,     $color1 0%,$color2 44%, $color3 87%),
    }
    59%{
        background: 
                    linear-gradient(to $dir1 $dir2,     $color1 0%,$color2 18%, $color3 74%),
                    linear-gradient(to $dir3 $dir4,     $color1 0%,$color2 42%, $color3 86%),
    }
    62%{
        background: 
                    linear-gradient(to $dir1 $dir2,     $color1 0%,$color2 20%, $color3 75%),
                    linear-gradient(to $dir3 $dir4,     $color1 0%,$color2 40%, $color3 85%),
    }
    65%{
        background: 
                    linear-gradient(to $dir1 $dir2,     $color1 0%,$color2 22%, $color3 76%),
                    linear-gradient(to $dir3 $dir4,     $color1 0%,$color2 38%, $color3 84%),
    }
    68%{
        background: 
                    linear-gradient(to $dir1 $dir2,     $color1 0%,$color2 24%, $color3 77%),
                    linear-gradient(to $dir3 $dir4,     $color1 0%,$color2 36%, $color3 83%),
    }
    71%{
        background: 
                    linear-gradient(to $dir1 $dir2,     $color1 0%,$color2 26%, $color3 78%),
                    linear-gradient(to $dir3 $dir4,     $color1 0%,$color2 34%, $color3 82%),
    }
    74%{
        background: 
                    linear-gradient(to $dir1 $dir2,     $color1 0%,$color2 28%, $color3 79%),
                    linear-gradient(to $dir3 $dir4,     $color1 0%,$color2 32%, $color3 80%),
    }
    77%{
        background: 
                    linear-gradient(to $dir1 $dir2,     $color1 0%,$color2 30%, $color3 80%),
                    linear-gradient(to $dir3 $dir4,     $color1 0%,$color2 30%, $color3 79%),
    }
    80%{
        background: 
                    linear-gradient(to $dir1 $dir2,     $color1 0%,$color2 32%, $color3 81%),
                    linear-gradient(to $dir3 $dir4,     $color1 0%,$color2 28%, $color3 78%),
    }
    82%{
        background: 
                    linear-gradient(to $dir1 $dir2,     $color1 0%,$color2 34%, $color3 82%),
                    linear-gradient(to $dir3 $dir4,     $color1 0%,$color2 26%, $color3 77%),
    }
    84%{
        background: 
                    linear-gradient(to $dir1 $dir2,     $color1 0%,$color2 36%, $color3 83%),
                    linear-gradient(to $dir3 $dir4,     $color1 0%,$color2 24%, $color3 76%),
    }
    86%{
        background: 
                    linear-gradient(to $dir1 $dir2,     $color1 0%,$color2 38%, $color3 84%),
                    linear-gradient(to $dir3 $dir4,     $color1 0%,$color2 22%, $color3 75%),
    }
    88%{
        background: 
                    linear-gradient(to $dir1 $dir2,     $color1 0%,$color2 40%, $color3 85%),
                    linear-gradient(to $dir3 $dir4,     $color1 0%,$color2 20%, $color3 74%),
    }
    90%{
        background: 
                    linear-gradient(to $dir1 $dir2,     $color1 0%,$color2 42%, $color3 86%),
                    linear-gradient(to $dir3 $dir4,     $color1 0%,$color2 18%, $color3 73%),
    }
    92%{
        background: 
                    linear-gradient(to $dir1 $dir2,     $color1 0%,$color2 44%, $color3 87%),
                    linear-gradient(to $dir3 $dir4,     $color1 0%,$color2 16%, $color3 72%),
    }
    94%{
        background: 
                    linear-gradient(to $dir1 $dir2,     $color1 0%,$color2 46%, $color3 88%),
                    linear-gradient(to $dir3 $dir4,     $color1 0%,$color2 14%, $color3 71%),
    }
    96%{
        background: 
                    linear-gradient(to $dir1 $dir2,     $color1 0%,$color2 48%, $color3 89%),
                    linear-gradient(to $dir3 $dir4,     $color1 0%,$color2 12%, $color3 71%),
    }
    98%{
        background: 
                    linear-gradient(to $dir1 $dir2,     $color1 0%,$color2 50%, $color3 90%),
                    linear-gradient(to $dir3 $dir4,     $color1 0%,$color2 10%, $color3 70%),
    }    
    100%{
        background: 
                    linear-gradient(to $dir1 $dir2,     $color1 0%,$color2 50%, $color3 90%),
                    linear-gradient(to $dir3 $dir4,     $color1 0%,$color2 10%, $color3 70%),
    }
};
    animation: GlossPulsating-#{$name} $timer $repeat $direction;
}

@mixin bajckground($angle1,$angle2,$angle3,$color,$time){
    background:
    repeating-linear-gradient($angle1,transparent 0%,transparent 25%,#f6fbff 25%,$color  37.5%,#f6fbff 25%,$color  37.5%,#f6fbff 25%,$color  37.5%,#f6fbff 25%,#e2e6e9  37.5%),
    linear-gradient($angle2,#d3d7da 25%,#dde0e2,$color 85%,#d1d3d4,$color 95%,#d3d7da),
    linear-gradient($angle3,transparent 0%,transparent 50%,#ccd1d4 50%,$color 100%,#ccd1d4 50%,$color 100%,#ccd1d4 50%,#d6d7d8 100%,#ccd1d4 50%,#d6d7d8 100%);
    background-blend-mode: multiply;
    
	background-size: 150% 150%;
        -webkit-animation: Gradient $time ease infinite;
        -moz-animation: Gradient $time ease infinite;
        animation: Gradient $time ease infinite;

    
    @-webkit-keyframes Gradient {
        0% {
            background-position: 0% 0%
        }
        50% {
            background-position: 100% 50%;
            transform: rotate(-30deg);
        }
        100% {
            background-position: 0% 100%
        }
    }
    
    @-moz-keyframes Gradient {
        0% {
            background-position: 0% 0%
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 100%
        }
    }
    
    @keyframes Gradient {
        0% {
            background-position: 0% 0%
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 100%
        }
    }
}


@mixin color-modifiers($dir1,$dir2,$dir3,$dir4,$kolor2,$kolor3,$time) {
    @each $name, $kolor in $guilds {
      &-#{$name} {
@include glowingBackground($name,$dir1,$dir2,$dir3,$dir4,$kolor,$kolor2,$kolor3, $time ,infinite, alternate);
      }
    }
  }

  .background{
      @include color-modifiers(top, right,top, left,hsla(0, 0%, 0%, 0.702),hsla(0, 0%, 0%, 0.702),4s);
  }

  .stat-background{
      @include color-modifiers(bottom, right,top, left,hsla(0, 0%, 0%, 0.702),hsla(0, 0%, 0%, 0.702),4s);
  }

%buttonAnimation{
    &:hover{
        box-shadow: inset 0px 0px 25px white, 0 0 15px black, 0 0 20px darkblue, 0 0 200px rgba(60, 60, 82, 0.932);
    }
    &:active{
        box-shadow: inset 0 0 7px black, inset 0 0 13px darkblue, 0 0 200px white, 0 0 20px rgba(255,255,255,.2); 
        border: solid rgba(58, 55, 55, 0.712);
    }
}
%buttonAnimation2{
    &:hover{
        box-shadow: inset 0px 0px 25px darkblue, inset 0 0 15px rgba(9, 8, 87, 0.897), 0 0 20px darkblue, 0 0 20px rgba(60, 60, 82, 0.932);
        border:solid darkblue;
    }
    &:active{
        box-shadow: inset 0px 0px 25px darkblue, inset 0 0 15px rgba(9, 8, 87, 0.897), 0 0 20px darkblue, 0 0 20px rgba(60, 60, 82, 0.932); 
        border: solid darkblue;
    }
}
%plajBookAnimation{
    &:hover{
        box-shadow: inset 0px 0px 25px white, 0 0 15px black, 0 0 20px darkblue, 0 0 200px rgba(60, 60, 82, 0.932);
    }
    &:active{
        box-shadow: inset 0 0 7px black, inset 0 0 13px darkblue, 0 0 200px white, 0 0 20px rgba(255,255,255,.2); 
        border: solid rgba(58, 55, 55, 0.712);
    }
}




.testing{color:rgba(141, 6, 6, 0.692);}
#screentint{
    position: absolute;
    pointer-events: none;
    cursor: none;
    top: 0;
    left: 0;
}


#pitchfield, #terrains_layer, #gameItems, #players {
    background: transparent;
    background-size: cover;
    /*height: 32in;
    width: 32in;*/
    position: absolute;
    justify-self: space-between;
    background-color: rgba(0, 0, 0, 0);
};
canvas{
    top:1;left:1;
}

@keyframes hoovver {
    100% {
        box-shadow: inset 0px 0px 25px black, 0 0 15px blue, 0 0 20px darkblue;
        border-style: inset;
    }
}
#gameScreen{
    width: 100vw;
    max-width: 1550px;
    display:flex;
}

@keyframes optionz {
    100% {
        box-shadow: inset 0px 0px 25px black, 0 0 10px blue, 0 0 20px darkblue;
        transform: scale(1.1, 1.1);
        //opacity: 1;
    }
}

@keyframes helpfulBox {
    100% {
        opacity: 1;
        background-color: hsla(55, 43%, 62%, .8);
        min-width: 100px;
        max-width: 300px;
        min-height: 50px;
        position: absolute;
        display: inline-block;
        border-radius: 30%;
        border: 3px solid $borderColor;
        border-left: 6px double $borderColor;
        border-right: 6px double $borderColor;
        font-size: 1rem;
    }
}
button:hover{
    animation: hoovver .3s forwards
}

@keyframes clicked {
    100% {
        box-shadow: 0px 0px 30px rgb(105, 105, 105);
        transform: scale(0.9, 0.9);
        border-style: inset;
    }
}

#explainer {
    opacity: 0;
    background-color: hsla(55, 43%, 62%, .0);
    min-width: 10px;
    max-width: 30px;
    min-height: 10px;
    position: absolute;
    display: inline-block;
    border-radius: 0%;
    border: 0px solid $borderColor;
    border-left: 0px double $borderColor;
    border-right: 0px double $borderColor;
    display: flex;
    font-size: 0.1rem;
    justify-content: center;
    align-items: center;

    &:hover {
        animation: helpfulBox 1s forwards
    }
}


#app {
    position: fixed;
    height: 98vh;
    #appDisplay{
        display: flex;
        flex-flow: column;
        align-items: center;
        height: 100%
    }
    border-radius:2px;
    * {
        opacity: 1;
    }
    z-index:7;
    background: linear-gradient(farthest-corner at 5% 5%, rgba(0, 0, 0, 0.7) 0%,rgba(0, 0, 0, 0.7)10%, rgba(0, 0, 0, 0.7) 80%);
    ///////////////////////////////////////////////////////////////////////////////////////////////////////
//@include bajckground(45deg, 45deg, 135deg);
    ///////////////////////////////////////////////////////////////////////////////////////////////////////
}

.opacifier {
    opacity: 1
}

#squaddieName {
    display: flex;
    flex-direction:column;
    //border: 3px solid $borderColor;
    //background-color: hsla(55, 43%, 62%, 0.173);
    border-radius: 2px;
    padding: 0px;
    justify-content: center;
    align-items: center;
    width: 57%;
    height: 2vw;
    margin: 0;
    font-size:1.5vw;
    color:$magicBlu;
    h4{
        margin:0;
    }
    h6{
        margin:0;
    }
}

#images {
    display: flex;
    flex-direction: row;
}

#conditions {
    list-style: none;
    display:flex;
    flex-wrap:wrap;
}

#conditions li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 39px;
    height: 39px;
    background-color: hsl(55, 43%, 62%);
    border-radius: 4%;
    border: 2px dotted $borderColor;
    list-style: none;
    padding:5px;

    &:hover {
        animation: hoovver .3s forwards
    }
}
#condition-list{
    display: flex;
    width: 150px;
    height: 146px;
    flex-wrap: wrap;
}

#squaddieFace {
    display:flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    width: 9vw;
    height: 9vw;
    border-radius: 49%;
    border: 5px solid $borderColor;
    background-size: 10px ;
    background-repeat: no-repeat;
    background-position: center;
}
#statistics{
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: space-between;
    height:11vw;
    width:99%;
}
#squaddieStats {
    width:60%;
    margin-top:-2vw;
    margin-bottom:-2vw;
    margin-right:1.15vw;
    text-align: center;
    border-collapse: collapse;
}

th, td {
    //border: 1.5px solid $borderColor;
    height: .8vw;
    //@include bajckground(-135deg,-138deg,-123deg);
    padding: 0px;
    font-size:1vw;
    color:$magicBlu;
}
th{
    border-bottom:0;
    border-left: 1.5px solid $borderColor;
    border-right: 1.5px solid $borderColor;
    background:linear-gradient(to top, rgba(170, 150, 128, 0.411) 0%,rgba(139, 119, 95, 0.28)10%, transparent 50%);
}
td{
    font-size:1.1vw;
    border-top:0;
    background:linear-gradient(to bottom, rgba(170, 150, 128, 0.411) 0%,rgba(139, 119, 95, 0.28)10%, transparent 50%);
}
.dbl {
    border-left: 1.5px solid $borderColor;
    border-right: 1.5px solid $borderColor;
}
.bgn{
    border-left: 1.5px solid $borderColor;
}
.tnd{
    border-right: 1.5px solid $borderColor;
}

#dynamicMessages{
    display:flex;
    flex-wrap:wrap;
    width:99%;
    height: fit-content;
}
.plajbooks{
    ul{

    left:-20px;
       ul{ display:flex; margin-top:14px;}
    }
}

.hp {
    display: flex;
    flex-wrap: wrap;
    align-items: middle;
    width: 98%;
}
.plajBookCell, .plajBookTopCell{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
    border-radius: 50%;
    width: 2.66vw;
    height: 2.66vw;
    font-size: 1vw;
    font-weight:800;
    line-height: 0.9vw;
    border: 2px solid $borderColor;
    background-color: hsl(55, 43%, 62%);
    @extend %plajBookAnimation;

    &:hover {
        animation: hoovver .3s forwards;
    }
}
.plajBookTopCell{margin-bottom:-10px;margin-left:-4px}
.plajBookCell{margin-top:-10px;margin-left:-3px}
.playBookNull{
    display:flex;
    list-style:none;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    width:2.66vw;
    height:0px;
    font-size: 0.8rem;
    font-weight:800;
    line-height: 0.9rem;
    border: 2px solid transparent;
    opacity:0;
    margin-left:-4px;
}
.playbookNodes{
    background:linear-gradient(to bottom, rgba(170, 150, 128, 0.411) 0%,rgba(139, 119, 95, 0.28)10%, transparent 50%);
}
.busted{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
    border-radius: 1.66vw;
    width: 5.3vw;
    height: 1.66vw;
    font-size: 0.8vw;
    font-weight:800;
    line-height: 0.9vw;
    border: .2px solid $borderColor;
    background-color: hsl(55, 43%, 62%);

    //@include bajckground(247deg,223deg,22deg,rgba(241, 226, 155, 0.932),60s);
    &:hover {
        animation: hoovver .3s forwards;
    //    @include bajckground(247deg,223deg,22deg,rgba(36, 116, 60, 0.932),60s);
    }
}
.hpli {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    border-radius: 50%;
    width: 1.36vw;
    height: 1.2vw;
    border: .4px solid $borderColor;
    //@include bajckground(280deg,160deg,39deg);
    font-size: 1vw;
    color:$infoWhite;
    box-shadow: inset 0 0 .3vw rgba(236, 228, 152, 0.8);
}
.bubbles{
    display:flex;
    width:61%;
}
.pool{
    width: 186%;
    display: flex;
    flex-wrap: wrap;
    margin-left:.9vw;
    margin-top:0;
    padding:0;
    min-height:3vw
}
.hpliMin{
    color: hsl(55, 43%, 62%);
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    border-radius: 50%;
    width: 1.36vw;
    height: 1.2vw;
    border: .2px solid $borderColor;
    background-color: rgb(124, 33, 33);
    font-size: 1vw;
    box-shadow: inset 0 0 .3vw rgba(236, 228, 152, 0.8);
}
.domesticButtons {
    display: flex;
    flex-direction: row;
    //justify-content: space-evenly;
    align-items: middle;
    width:100%;
    margin: 0;
    margin-bottom:2vw;
    padding-bottom: 19vw;
    #actionButtons, #traitPlaysButtons{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        //justify-content: space-evenly;
        align-items: middle;
        width:47%;
        padding: 1px;
        color:rgba(0,0,0,0);
        div {
            width:3vw!important;
            height:3vw;
            font-size:1vw;
            display:flex;
            flex-direction: row;
            justify-content: center;
            //@include bajckground(47deg,43deg,222deg);
            border-radius: 2.5px;
            align-items: center;
            font-weight: 700;
            margin: 1px;
            text-align:center;
            max-width: 64px;
            max-height: 64px;
            width:33%;
            &:hover {
                animation: optionz .5s forwards;
            }
            &:active{
                scale: .95;
            }
        }
    }
    #traitPlaysButtons{
        max-height:0;
        width:32%;
        height: 13vw;
        div{
            width: 3vw;
            height:3vw;
            margin:.06vw;
            max-height: 4vw;
            &:active{
                transform:scale(.95);
            }
        }
    }
}
.teamPlays{
    margin-top: -.66vw;
    margin-bottom:2vw;
    width:6vw;
    height: 2.3vw;
    color:rgba(255, 244, 232, 0);
    //@include bajckground(247deg,223deg,22deg,rgba(0, 0, 0, 0.932),100s);
}
.clicked{animation: clicked .3s forwards;}

#resources tr {
    display: flex;
    justify-content: space-evenly;
}

#momentumHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 2px solid $borderColor;
}
#momentumCount {
    border-right: 2px solid $borderColor;
    min-width:35%;
}

#scoreHeader {
    border-right: 2px solid $borderColor;
}

#scoreCount {
    border-right: 2px solid $borderColor;
    justify-self: flex-end;
    min-width:31%;

    @keyframes momentumGrow{
        0%{
            transform:scale(0.95);
            font-size:1.6vw;
        }
        15%{
            transform:scale(1);
            font-size:1vw
        }
        30%{
            transform:scale(1.1);
            font-size:2.5vw;
    box-shadow: inset 0 0 7px rgba(236, 229, 229, 0.6), inset 0 0 13px rgba(200, 212, 198, 0.7),inset 0 0 200px rgba(255, 255, 255, 0.4),inset 0 0 20px rgba(231, 182, 182, 0.3);
        }
        90%{
            transform:scale(1.2)
        }
        100%{
            transform:scale(1);
            font-size:2vw;

    box-shadow: inset 0 0 7px rgba(236, 229, 229, 0.4), inset 0 0 13px rgba(200, 212, 198, 0.4),inset 0 0 200px rgba(255, 255, 255, 0.1),inset 0 0 20px rgba(231, 182, 182, 0.2);
        }
    }
}
.momentumGrow{
    animation: .5s momentumGrow forwards;
}
.momentumShow{
    width:4vw;
    height: 2.4vw;
    display:flex;
    border-radius:50%;
    background-color:blue;
    justify-content: center;
    align-items: top;
    color:orange;
    font-size:2vw;
    margin-top:3%;

    box-shadow: inset 0 0 7px rgba(236, 229, 229, 0.4), inset 0 0 13px rgba(200, 212, 198, 0.4),inset 0 0 200px rgba(255, 255, 255, 0.1),inset 0 0 20px rgba(231, 182, 182, 0.2);
}
.teaMenu{
    max-height:9vw;
    min-height:8vw;
    overflow-y:scroll;
    background-color: rgba(94, 93, 88, 0.31);
    border-radius:2.0px;
    width:100%;
    position:relative;
    margin:0;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    .pW0{
        margin-left:-40px;
    }
    .pW8{
        margin-left: -105px;
        margin-top: -33px;
    }
}
@keyframes showDice{
    0%{
        transform:scale(.1);
    }
    50%{
        transform:scale(1.3);
    }
    100%{
        transform:scale(1);
    }
}

.die{
    background-color:white;
    width:30px;
    height:30px;
    margin:.5vw 2.5vw .5vw -2vw;
    font-family: veranda;
    display:inline-block;
    .die-eye{
        border-radius:50%;
        width:10px;
        height:10px;
        display:inline-block;
        position:relative;
        margin:1px;
        padding:0;
        box-shadow: 0 0 .1vw rgba(51, 51, 47, 0.9);
    }}
    .dice-1{
        .die-1{top:8px;left:9px;}
    }
    .dice-2{
        .die-1{top:-2px;left:0px;}
        .die-2{top:15px;left:2px;}
    }
    .dice-3{
        .die-1{top:-2px;left:0px;}
        .die-2{top:7px;left:-7px;}
        .die-3{top:-2px;left:18px;}
    }
    .dice-4{
        .die-1{top:-2px;left:0px;}
        .die-2{top:-2px;left:2px;}
        .die-3{top:-2px;left:0px;}
        .die-4{top:-2px;left:2px;}
    }
    .dice-5{
        .die-1{top:-2px;left:0px;}
        .die-2{top:-2px;left:2px;}
        .die-3{top:-2px;left:0px;}
        .die-4{top:-2px;left:2px;}
        .die-5{top:-29px;left:9px;}
    }
    .dice-6{
        .die-1{top:-2px;left:0px;}
        .die-2{top:-2px;left:2px;}
        .die-3{top:-2px;left:0px;}
        .die-4{top:-2px;left:2px;}
        .die-5{top:-29px;left:0px;}
        .die-6{top:-29px;left:2px;}
    }
    .dice{
        width: 50%;
        max-height: 5vw; 
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        background-color:rgba(70, 69, 66, 0.31);
        background:linear-gradient(to top, rgba(170, 150, 128, 0.411) 0%,rgba(139, 119, 95, 0.28)10%, transparent 50%);
    }

    .message{
        display:flex;
        justify-content: center;
        align-items: center;
        color:rgb(252, 252, 252);
    height:8vw;
    background-color: rgba(70, 69, 66, 0.31);
    border-radius:.03vw;
    width:50%;
    position:relative;
    font-size:.8vw;
    margin:0;
    padding-top:0vw;
    padding-bottom:1vw;
    background:linear-gradient(to top, rgba(170, 150, 128, 0.411) 0%,rgba(139, 119, 95, 0.28)10%, transparent 50%);
    }
.the-first-info {
    overflow-y: scroll;
    color: #d6cdcd;
    height: 190px;
    background-color: rgba(31, 31, 31, 0.31);
    border-radius: 5px;
    width: 100%;
    position: relative;
    margin: 0 auto 0 auto;
    font-size: 1.5vw;
    text-align: justify;
    padding: 12px;
}
.counterbox{
    position:absolute;
    width:150px;
    border-radius:15px;
    height:150px;
    z-index:6;
    color:white;
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
    align-items:center;
    border-radius:42%;
    opacity:.55;
    &:hover{
        opacity:1;
    }
    button{
        top:-1px;
        width:48px;
        height:49.5px;
        border-radius:48%;
        display:flex;
        justify-content:center;
        font-size:.75rem;
        font-weight:900;
        width:51px;
        padding-top: 7px;
    }
    .opt1{
        background-color:red;
        color:yellow;
        width:49px;
        order:2;
        margin: auto -2px auto -2px;
    }
    .opt2{
        background-color:yellow;
        color:blue;
        width:51px;
        order:2;
        margin: 0 -1px 0 -1px;
    }
    .opt3{
        background-color:blue;
        color:white;
        width:49px;
        order:2;
    }
    .opt4{
        background-color:rgb(158, 65, 37);
        color:rgb(223, 223, 140);
        order:1;
    }
    .opt5{
        background-color: greenyellow;
        color: darkgreen;
        order:1;
    }
    .opt6{
        background-color:purple;
        color:goldenrod;
        order:3;
    }
    .opt7{
        background-color:rgb(39, 10, 39);
        color:orange;
        order:3;
        font-size:.71rem;
        padding-top: 0;
    }
}
.unpredictableMovement{
    height:64px;
    background:rgba(0, 0, 48, 0.623);
}
.snapBallButton{
    position:absolute; 
    display:inline-block; 
    font-size:.8rem; 
    font-weight:900; 
    border-radius:50%; 
    color:rgb(223, 221, 207); 
    opacity: .59;
    display:flex; 
    justify-content:center; 
    align-items:center; 
    font-family:'IM Fell English'; 
    z-index:6;
    border-top:4px solid black;
    border-bottom:4px solid black;
    border-left: 4px solid white;
    border-right: 4px solid white;
    animation: hoovver .3s forwards, momentumGrow 2s alternate;
    &:hover{
        opacity:1;
    }
}

#terrains_layer{z-index:2}
#gameItems{z-index:3}
#players{z-index:5}
//buttons index:6
#screentint{z-index:8}
//scrollbars test
html {
    overflow-y: auto;
    background-color: transparent;
    cursor:none;
    }
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
        cursor:none;
        }
        ::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
height: 30px;
display: block;
background-color: transparent;
cursor:none;
}
::-webkit-scrollbar-track-piece  {
    background-color: #3b3b3b;
    -webkit-border-radius: 6px;border-radius: 6px;
    cursor:none;
    }
    ::-webkit-scrollbar-thumb:vertical {
        height: 50px;
        background-color: #666;
        border: 1px solid #eee;
        -webkit-border-radius: 6px;border-radius: 6px;
        cursor:none;
        }
        @-moz-document url-prefix() {
            .dice-1 .die-1{
                top:6.5px;
            }
            .dice-4{
                .die-1{top:-4px;left:-1px;}
                .die-2{top:-4px;}
                .die-3{top:-3px;left:-1px;}
                .die-4{top:-3px;}
            }
            .dice-3{
                .die-1{top:-4px;left:-1px;}
                .die-2{top:6.5px;left:-7.5px;}
                .die-3{top:-3px;left:19px;}
            }
            .dice-5{
                .die-1{top:-4px; left:-1px;}
                .die-2{top:-4px;}
                .die-3{top:-3px;left:-1px;}
                .die-5{top:-30px;}
            }
            .dice-6{ 
                .die-1 {top: -4px; left: -1px;}
                .die-2 {top: -4px; left: 2px;}
                .die-3 {top: -3px; left: -1px;}
                .die-5{top: -31px; left: -1px;}
                .die-6{top: -30px;}
            }
            .snapBallButton:hover{
                border-top-color: black;
                border-bottom-color: black;
                border-left-color: white;
                border-right-color: white;
            }
        }




#teaMenuScreen{
    height:100vh;
    width:70vw;
    z-index:3;
    position:fixed;
    top: .5vw;
    left:.5vw;
    background-color:rgb(178, 202, 178);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-size:169% 169%!important;
    background-repeat: no-repeat!important;
    background-position:-70px 0px!important;
    #thePlayers{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 58vh;
    }
}

.guildIco{
    width:10vw;
    height:10vw;
    margin:10px;
    padding:20px;
    border-radius:5%;
    @extend %buttonAnimation;
}
.guildInfo{
    display: flex;
    justify-content: center;
    font-family: "IM Fell English";
    color: rgb(60, 65, 49);
    font-size: 1.25rem;
    flex-direction: column;
    padding:7px;
    background-image: url("../icons/cursor/bg.jpg");
    background-size: 100% 100%;
    height: 100%;
    .guildHeader{
        margin-top:-30px;
        display:flex;
        justify-content: space-between;
        padding:0 19px 0 7px;
        border-bottom:2px solid rgb(60, 65, 49);
        height: 5vw;
        img{
            height:100%;
            justify-self: center;
        }
    }
    .guildInfoP{
        margin-top:-11px;
        font-size:1vw;
    }
    .guildFoot{
        text-align: end;
        font-weight: 800;
        font-size: 1.8vw;
        background:0;
        color: #3c4131;
    }
}
#FalconersIco{
    background-position-y: 25px!important;
}
#FalconerslilPic{
    width:6.73vw;
}
#NavigatorsIco{
    background-position-x: 7px!important; 
}

.rosterIco{
    //transform-origin:left top;
    border-style: solid;
    border-width: .3vw;
    @extend %buttonAnimation;
    border-radius:50%;
    background-repeat:no-repeat;
    margin:2.5vw 1.5vw 1vw 1.5vw;
    width:5.5vw;
    height:5.5vw;
}

.guildRosterReverse, .guildRosterForward{
    width:82px;
    height:24px;
    border-radius: 50%;
    background-color: darkred;
    color: darkblue;
    font-weight:900;
    font-size:1.25rem;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    vertical-align:middle;
    margin:-15px auto -10px auto;
    @extend %buttonAnimation;
    position:absolute;
    top:63%;
    left:10%;
    &:active{
        width:82px;
        height:24px;
    }
}
.guildRosterForward{
    top:63%;
    left:calc(90% - 82px);
    color:white;
    box-shadow: 0 0 5px rgb(241, 232, 232), 0 0 20px darkblue, 0 0 80px rgba(139, 139, 240, 0.932);}
%flexis{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
}
%innerFlex{
    display:flex;
    justify-content: center;
}
.rosterChosen{
    height:24vh;
    width:94%;
    margin-top:10vh;
    margin-left:auto;margin-right:auto;
    @extend %flexis;
    div{
        border:3px solid;
        box-sizing:border-box;
        text-align: center;
        font-weight:900;
        font-size:1.95rem;
        border-radius:4px;
        box-shadow: inset 0 0 7px black, inset 0 0 13px darkblue, 0 0 20px white, 0 0 20px rgba(255,255,255,.2);
        flex-wrap: wrap;
        p{
            width:100%;
            position:relative;
            top:-6.5vw;
            font-size:3vw;
            margin-bottom: -10vw;
        }
        .rosterIco{
            border-radius:500px;
            margin-left:10px;
            margin-right:10px;
            display:flex;
            flex-wrap:wrap;
        }
    }
    .captainRoster{
        width:15%;
        height:100%;
        @extend %innerFlex;
    }
    .mascotRoster{
        width:15%;
        height:100%;
        @extend %innerFlex;
    }
    .squaddiesRoster{
        width:60%;
        height:100%;
        padding-left:-30px;
        @extend %innerFlex;
    }
    .mastersRoster{
        @extend %innerFlex;
        width:30%;
        height:100%;
    }
    .apprenticesRoster{
        @extend %innerFlex;
        width: 45%;
        height:100%;
    }
}
#app .inactiveActionButton{
    opacity:.35;
    &:hover{
        opacity:.15;
    }
    &:active{
        opacity:.07;
    }
}
@media screen and (max-width: 1600px) {
    .guildHeader{
        margin-top:76px!important;
        p{
            font-size:2vw;
        }
    }
}
%hoverExpansion{
            border-radius: 2px;
            pointer-events: none;
            position: absolute;
            opacity:.98;
            color:rgb(255, 255, 255);
            width:12vw;
            padding:1vw;
            -webkit-text-stroke:1px rgba(99, 93, 93, 0.699);
            font-weight: 900;
            font-size: 1.4vw;
            text-shadow: -1px -1px 50px rgba(0, 0, 0, 1);
            background-color: white;
}
#actionButtons{
    height:13vw;
}
#actionButtons [id^="snapBall"]{
    transform:rotate(180deg);
}
[id^="giveBallTo"]{
    border-radius:50%!important;
}
// [id^="cancel"]{
//     &:hover{
//         &:after{
//             @extend %hoverExpansion;
//             @include bajckground(27deg,23deg,52deg,rgba(141, 8, 8, 0.932),30s);
//             content:"cancel current action and auras. For example if you were about to charge but changed your mind its time to click here or press esc button.";
//         }
//     }
// }
// [id^="dropBall"]{
//     &:hover{
//         &:after{
//             @extend %hoverExpansion;
//             @include bajckground(7deg,143deg,200deg,rgba(90, 141, 8, 0.932),30s);
//             content:'Squaddie can drop ball in its posession, as far as 1" between them.'
//         }
//     }
// }

// [id^="kick"]{
//     &:hover{
//         &:after{
//             @extend %hoverExpansion;
//             @include bajckground(7deg,143deg,200deg,rgba(51, 78, 7, 0.932),30s);
//             content:'Squaddie can kick ball in its posession click where you want it to be..'
//         }
//     }
// }

// [id^="charge"]{
//     &:hover{
//         &:after{
//             @extend %hoverExpansion;
//             @include bajckground(7deg,13deg,20deg,rgba(78, 7, 19, 0.932),30s);
//             content:'Squaddie can charge opposing squaddie. Click here, then on the victim within maximum threat range, then plot charge path so that Squaddie has its victim in melee range.'
//         }
//     }
// }

// [id^="bonusTime"]{
//     &:hover{
//         &:after{
//             @extend %hoverExpansion;
//             @include bajckground(7deg,13deg,20deg,rgba(28, 7, 78, 0.932),30s);
//             content:'For the price of one momentum adds additional die to the next action requiring to roll dies.'
//         }
//     }
// }

// [id^="healSelf"]{
//     &:hover{
//         &:after{
//             @extend %hoverExpansion;
//             @include bajckground(7deg,13deg,20deg,rgba(78, 23, 54, 0.932),30s);
//             content:'Squaddie can once a turn heal 4 wounds for momentum.'
//         }
//     }
// }

// [id^="forfeitMove"]{
//     &:hover{
//         &:after{
//             @extend %hoverExpansion;
//             @include bajckground(7deg,13deg,20deg,rgba(54, 50, 53, 0.932),30s);
//             content:'Squaddie can forfeit movement to stand up.'
//         }
//     }
// }

// [id^="removeConditions"]{
//     &:hover{
//         &:after{
//             @extend %hoverExpansion;
//             @include bajckground(7deg,13deg,20deg,rgba(7, 12, 56, 0.932),30s);
//             content:'Squaddie can remove all conditions it currently suffers for momentum.'
//         }
//     }
// }

// [id^="healAFriend"]{
//     &:hover{
//         &:after{
//             @extend %hoverExpansion;
//             @include bajckground(7deg,13deg,20deg,rgba(53, 2, 2, 0.932),30s);
//             content:'Squaddie can heal 4 wounds from a friend within 8".'
//         }
//     }
// }

// [id^="takeAbreather"]{
//     &:hover{
//         &:after{
//             @extend %hoverExpansion;
//             @include bajckground(7deg,13deg,20deg,rgba(5, 38, 53, 0.932),30s);
//             content:'Squaddie can remove all conditions from a friend within 8".'
//         }
//     }
// }

// [class^="glide"]{
//     &:hover{
//         &:after{
//             @extend %hoverExpansion;
//             @include bajckground(7deg,13deg,20deg,rgba(83, 41, 7, 0.932),30s);
//             content:'Squaddie can pay momentum to negate movement penalty from rough ground.'
//         }
//     }
// }

$blueOrbBorder:rgba(1, 157, 247, 0);

@keyframes circleGlow{
    1%{
        border-left: solid .5vw $blueOrbBorder;
        border-radius:50%;
    }
    25%{
        border:.1vw solid ;
        transform:translate(3vw,0vw);
        border-radius:50%;
    }
    26%{
        border-top: solid .5vw $blueOrbBorder;
        border-radius:50%;
    }
    50%{
        border:.1vw solid $blueOrbBorder;
        transform:translate(3vw,3vw);
        border-radius:50%;
    }
    51%{
        border-right: solid .5vw $blueOrbBorder;
        border-radius:50%;
    }
    75%{
        border:.1vw solid $blueOrbBorder;
        transform:translate(0,3vw);
        border-radius:50%;
    }
    76%{
        border-bottom: solid .5vw $blueOrbBorder;
        border-radius:50%;
    }
    100%{
        border:.1vw solid $blueOrbBorder;
        transform:translate(0,0);
        border-radius:50%;
    }
}
@keyframes UcircleGlow{
    1%{
        border-left: solid .5vw $uniq;
        border-radius:50%;
    }
    25%{
        border:.1vw solid ;
        transform:translate(3vw,0vw);
        border-radius:50%;
    }
    26%{
        border-top: solid .5vw $uniq;
        border-radius:50%;
    }
    50%{
        border:.1vw solid $uniq;
        transform:translate(3vw,3vw);
        border-radius:50%;
    }
    51%{
        border-right: solid .5vw $uniq;
        border-radius:50%;
    }
    75%{
        border:.1vw solid $uniq;
        transform:translate(0,3vw);
        border-radius:50%;
    }
    76%{
        border-bottom: solid .5vw $uniq;
        border-radius:50%;
    }
    100%{
        border:.1vw solid $uniq;
        transform:translate(0,0);
        border-radius:50%;
    }
}
.skill{
    color:rgba(0,0,0,0);
	display: flex;
	align-items: center;
    justify-content: center;
    .o1{
        position:relative;
        left:-2vw;
        top:-2vw;
        background-color:rgba(158, 191, 253, 0.836);
        border-radius:50%;
    }
}


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
@keyframes infoBoxMove{
    100%{
    transform:translate(-17vw,0);
    }
}
.infoAbilBox{
    background-color: rgba(38, 40, 43, 0.91);
    z-index: 5;
    position: relative;
    left: 71vw/*shown*/;//hidden@:71vw;
    width: 16vw;
    min-height:13vw;
    height: 0; overflow: visible;
    top: 25vw;
    display:flex;
    flex-wrap:wrap;
    border:.2vw solid rgba(97, 64, 4, 0.95);
    border-bottom:0;
    color:$uniqText;
    font-size:1vw;
    font-weight: 800;
    animation: infoBoxMove .3s forwards;
    .abilHeader{
        display:flex;
        width:100%;
        max-height:20%;
        .leftDecour{
            width:15%;
            height:100%;
            border:0;
            @include arrow($uniq,right,1.4vw);
            margin-top:-.2vw;
            .leftDecourMiddleBit{
                position:relative;
                transform:rotate(45deg);
                background: linear-gradient(to top right, rgba(163, 99, 31, 0.82) 0%,rgba(133, 86, 28, 0.64)10%, $uniq 50%);
                border-top:.1vw solid $uniqBordr;
                border-right:.1vw solid $uniqBordr;
                top:-0.6vw;
                left:-.8vw;
                width:1.2vw;
                height:1.2vw;
                .leftDecourEndBit{
                    position:relative;
                    transform:rotate(0deg);
                    background: linear-gradient(to bottom left, rgba(163, 99, 31, 0.82) 0%,rgba(133, 86, 28, 0.64)10%, $uniq 50%);
                    border-bottom:.1vw solid $uniqBordr;
                    border-left:.1vw solid $uniqBordr;
                    top:-.5vw;
                    left:.8vw;
                    width:.8vw;
                    height:.8vw;
                }
            }
        }
            .abilTitle{
                width:82%;
                height:100%;
                display:flex;
                flex-wrap:wrap;
                .abilName{
                    width:103%;
                    height:60%;
                    padding-top:.1vw;
                    font-size:1.2vw;
                    border:.2vw solid rgba(97, 64, 4, 0.95);
                    border-bottom:0;
                    background:linear-gradient(to top, rgba(170, 150, 128, 0.411) 0%,rgba(139, 119, 95, 0.28)10%, transparent 50%);
                    margin:-0.2vw;
                    justify-content: center;
                    align-items:center;
                    display:flex;
                    border:0;
                }
                .abilType{
                    width:103%;
                    height:40%;
                    border:.2vw solid rgba(97, 64, 4, 0.95);
                    border-bottom:0;
                    margin:-0.2vw;
                    justify-content: center;
                    align-items:center;
                    display:flex;
                    border:0;
                }
            }
            .rightDecour{
                width:15%;
                height:100%;
                border:0;
                @include arrow($uniq,left,1.4vw);
                margin-top:-.2vw;
                .rightDecourMiddleBit{
                    position:relative;
                    transform:rotate(225deg);
                    background: linear-gradient(to top right, rgba(163, 99, 31, 0.82) 0%,rgba(133, 86, 28, 0.64)10%, $uniq 50%);
                    border-top:.1vw solid $uniqBordr;
                    border-right:.1vw solid $uniqBordr;
                    top:-0.65vw;
                    left:-.5vw;
                    width:1.2vw;
                    height:1.2vw;
                    .rightDecourEndBit{
                        position:relative;
                        transform:rotate(0deg);
                        background: linear-gradient(to bottom left, rgba(163, 99, 31, 0.82) 0%,rgba(133, 86, 28, 0.64)10%, $uniq 50%);
                        border-bottom:.1vw solid $uniqBordr;
                        border-left:.1vw solid $uniqBordr;
                        top:-.5vw;
                        left:.8vw;
                        width:.8vw;
                        height:.8vw;
                    }
                }
            }
    }
    .statsAbilInfo{
        display:flex;
        width:103%;
        height:28%;
        border:.2vw solid rgba(97, 64, 4, 0.95);
        border-bottom:0;
        margin:-0.1vw;
        div{
            width:23%;
            height:100%;
            margin:-0.2vw;
            border:.2vw solid rgba(97, 64, 4, 0.95);
            border-left:0;
            border-bottom:0;
            justify-content: center;
            align-items:center;
            display:flex;
            flex-flow:column;
            p{
                margin:0;
                width:94.5%;
                display:flex;
                justify-content:center;
                align-items: center;
                padding-top: .24vw;
                color:$magicBlu;
            }
            .abilAttribName{
                background-color:inherit;
                background:linear-gradient(to top, rgba(170, 150, 128, 0.411) 0%,rgba(139, 119, 95, 0.28)10%, transparent 50%);
            }
            .abilAttripVal{
                background: linear-gradient(to bottom right, rgba(163, 99, 31, 0.42) 0%,rgba(133, 86, 28, 0.24)10%, transparent 50%);
                display:flex;
                justify-content:center;
                align-items:center;
                flex-wrap:wrap;
            }
        }
    }
    .abilDescription{
        width:103%;
        min-height:55%;
        margin:-0.2vw;
        border:.2vw solid rgba(97, 64, 4, 0.95);
        padding:.3vw;
        justify-content: center;
        align-items:center;
        display:flex;
        color:$magicBlu;
        font-weight:600;
        background: linear-gradient(to bottom left, rgba(170, 150, 128, 0.42) 0%,rgba(139, 119, 95, 0.24)10%, rgba(38, 40, 43, 0.91) 50%);
    }
    box-shadow:  0 0 15px black, 0 0 20px darkblue, 0 0 200px rgba(60, 60, 82, 0.932);
}
footer{
    font-size:.8vw;
    color:white;
    background-color: #666;
}
@keyframes coinRotate{
    50%{transform:scaleX(.1)}
    100%{transform:scaleX(1)}
}
#ashTray{
    display:flex;
    width:2.4vw;
    height:31%;
    justify-content:space-evenly;
    align-items:center;
.coinGold{
    border-radius:50%;
    background-color:goldenrod;
    width:.7vw;
    height:.7vw;
    animation:coinRotate 1s infinite alternate;
}
.coinBlue{
    border-radius:50%;
    background-color:$magicBlu;
    width:.7vw;
    height:.7vw;
    animation:coinRotate 1s infinite alternate;
}
.coinSilver{
    border-radius:50%;
    background-color:$normalGray;
    width:.7vw;
    height:.7vw;
    animation:coinRotate 1s infinite alternate;
}
}
$o2offset : -50%;
.passiveSkill{
    @extend %buttonAnimation2;
    background-color:rgba(187, 168, 168, 0.349);
    color:rgba(0,0,0,0);
    border: .2vw solid rgba(56, 56, 56, 0.938);
    font-size:.1vw;
    &:hover{
        border: .1vw solid $uniqText;
        .o2{
            box-shadow:0 0 .05vw .05vw hsla(41, 100%, 87%, 0.644) ,0 0 .1vw .1vw hsla(39, 100%, 76%, 0.4) ,0 0 .3vw .3vw hsla(34, 100%, 50%, 0.8);
            position:relative;
            left:$o2offset;
            top:$o2offset;
            border:.03vw solid $uniqBordr;
            display:inline-block;
            animation: 4s UcircleGlow infinite reverse;
            border-radius:50%;
        }
    }
    &:active{
        box-shadow: 0 0 1vw rgb(139, 95, 0), 0 0 .8vw rgba(82, 73, 60, 0.932);
        border: .1vw solid rgb(139, 79, 0);
    }
}
.activeSkill{
    @extend %buttonAnimation2;
    border: .2vw solid rgba(0, 0, 0, 0.938);
    font-size:.1vw;
    &:hover{
        border: .1vw solid hsla(240, 100%, 27%, 0.993);
        .o1{
            box-shadow:0 0 .05vw .05vw hsla(240, 100%, 87%, 0.644) ,0 0 .1vw .1vw hsla(240, 100%, 76%, 0.4) ,0 0 .3vw .3vw hsla(240, 100%, 50%, 0.8);
            position:relative;
            left:$o2offset;
            top:$o2offset;
            border:.03vw solid $blueOrbBorder;
            display:inline-block;
            animation: 3s circleGlow infinite;
            border-radius:50%;
        }
    }
    &:active{
        box-shadow: 0 0 1vw darkblue, 0 0 .8vw rgba(60, 60, 82, 0.932);
        border: .1vw solid darkblue;
    }
}
.activatingPassiveSkill{
    .o2{
        position:relative;
        box-shadow:0 0 .05vw .05vw hsla(41, 100%, 87%, 0.644) ,0 0 .1vw .1vw hsla(39, 100%, 76%, 0.4) ,0 0 .3vw .3vw hsla(34, 100%, 50%, 0.8);
        left:$o2offset;
        top:$o2offset;
        border:.03vw solid $uniqBordr;
        display:inline-block;
        animation: 4s UcircleGlow infinite reverse;
        border-radius:50%;
    }
}
.activatingPassiveSkillo1{
    .o1{
        position:relative;
        box-shadow:0 0 .05vw .05vw hsla(41, 100%, 87%, 0.644) ,0 0 .1vw .1vw hsla(39, 100%, 76%, 0.4) ,0 0 .3vw .3vw hsla(34, 100%, 50%, 0.8);
        left:$o2offset;
        top:$o2offset;
        border:.03vw solid $uniqBordr;
        display:inline-block;
        animation: 4s UcircleGlow infinite reverse;
        border-radius:50%;
    }
}






























#gameTypeForm{
    background:darkolivegreen; 
    color:white; 
    margin: auto; 
    max-width:41vw; 
    min-width:500px; 
    height:97vh; 
    display:flex; 
    flex-wrap:wrap; justify-content: center; align-content: center;
}
#quickGamePic{
    margin-left:20%;
    display:block; 
    width:10vw;height:10vw;position:relative;left:0vw;top:-0vw;background:url("../icons/backgrounds/quickGame.jpg"); ;background-size:cover;
    border:.3vw solid rgb(134, 101, 17); 
    border-radius: 47%;    
}
#ownGamePic{
    margin-right:20%;
    display:block; 
    width:10vw;height:10vw;position:relative;left:0vw;top:-0vw;background:url("../icons/backgrounds/ownGame.jpg"); ;background-size:cover;
    border:.3vw solid rgb(134, 101, 17); border-radius: 47%;
}
.modeHover{
    &:hover{
        box-shadow: inset 0px 0px 55px darkblue, inset 0 0 45px rgba(9, 8, 87, 0.897), 0 0 20px darkblue, 0 0 20px rgba(60, 60, 82, 0.932);
        border:solid darkblue;
    }
}
.introductionInfo{
    margin:3% 20% 3% 20%; 
    width: 33%; height: 10%; 
    color:white; background: linear-gradient(0.25turn, darkolivegreen, rgb(99, 96, 68) 20%, rgb(99, 96, 68) 80%, darkolivegreen);
    border-top:.2vw solid rgb(134, 101, 17);
    border-bottom:.2vw solid rgb(134, 101, 17); 
    border-left:0; 
    border-right:0;
    border-radius:5%; 
    text-align: 
    center; 
    font-size:1vw;
    &:required {
        box-shadow:none;
    }    
}
#whotsIts{padding:1vw 2vw; margin:-10% 25% 5vh 25%; width:50%; height:13vh; background: linear-gradient(0.25turn, darkolivegreen, rgb(99, 96, 68) 20%, rgb(99, 96, 68) 80%, darkolivegreen);
    border-top:.2vw solid rgb(134, 101, 17);
    border-bottom:.2vw solid rgb(134, 101, 17); border-left:0; border-right:0;
    border-radius:.3vw; text-align: center; font-size:1vw}
.modeChosen{
        box-shadow: inset 0px 0px 25px rgb(176, 176, 197), inset 0 0 15px rgba(91, 90, 102, 0.897), 0 0 20px rgb(97, 97, 141), 0 0 20px rgba(147, 147, 167, 0.932); 
        border: .3vw solid rgb(143, 125, 75)!important;
}
#wronCharWarning{
    color:red;
    width:100%;
    height:2vh;
    text-align: center;
}
#beginGameButton{
    color:white; 
    background: black; 
    margin:0 30% 0 30%; 
    width: 6vw;height:6vw; 
    border-radius:50%;
    border-top:1.5vw solid black; 
    border-bottom:1.5vw solid black; 
    border-left:1.5vw solid white; 
    border-right:1.5vw solid white;
    &:hover{
        box-shadow: 0;
    }
}
